@import "tailwindcss";
/* @import "tw-animate-css"; */

@theme {
  --color-primary: #111111;
  --color-secondary: #fff;
  --color-background: #fff;
  --color-text: #111111;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #000;
    --color-text: #fff;
  }
}
